	#text,#cache
	{
		
		height:100px;

	}

.lettres
	{
		position: relative;
	}

#container
	{
		margin-left: 10%;
		margin-top: 20%;
		width:80%;
		height:200px;
		background-color: white;
		text-align: center;
	}
#cache
	{
		position: relative;
		background-color: white;
		z-index: 2;
		border-top: 1px solid black;
	}

@media screen and (min-width:866px)
{
		#text,#cache
	{
		
		font-size: 6em;

	}
	.lettres
	{
		top:100px;
	}
	
	#cache
	{
		top:0px;
		
	}
}
@media screen and (min-width:601px) and (max-width:865px)
{
		#text,#cache
	{
		
		height:100px;
		font-size: 4em;

	}
	.lettres
	{
		top:100px;
	}

	#cache
	{
		top:-10px;
	}
}
@media screen and (max-width:600px)
{
		#text,#cache
	{
		
		height:100px;
		font-size: 2em;

	}
	.lettres
	{
		top:50px;
	}
	
	#cache
	{
		top:-40px;
	}
}

.lettres{
	-ms-animation-name: animlettre;
	-ms-animation-direction: alternate;
	-ms-animation-iteration-count:infinite;
	-o-animation-name: animlettre;
	-o-animation-direction: alternate;
	-o-animation-iteration-count:infinite;
	-moz-animation-name: animlettre;
	-moz-animation-direction: alternate;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-name: animlettre;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count:infinite;
}

.lettre1
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
}
.lettre2
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-delay: 200ms;
}
.lettre3
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-delay: 600ms;
}
.lettre4
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-delay: 800ms;
}
.lettre5
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-delay: 400ms;
}
.lettre6
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-delay: 1200ms;
}
.lettre7
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-delay: 1400ms;
}
.lettre8
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-delay: 1500ms;
}
.lettre9
{
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-delay: 1800ms;
}


@-webkit-keyframes animlettre
{
	0%
	{
		top: 100px;
	}
	10%
	{
		top: 90px;
	}
	20%
	{
		top: 80px;
	}
	30%
	{
		top: 70px;
	}
	40%
	{
		top: 60px;
	}
	50%
	{
		top: 50px;
	}
	60%
	{
		top: 40px;
	}
	70%
	{
		
		top: 25px;
	}
	80%
	{
		
		top: 20px;
	}
	90%
	{
		top: 0px;

	}
	95%
	{
		top:-10px;
		
	}
	100%
	{
		top: -25px;
		
		
	}
}
@-moz-keyframes animlettre
{
	0%
	{
		top: 100px;
	}
	10%
	{
		top: 90px;
	}
	20%
	{
		top: 80px;
	}
	30%
	{
		top: 70px;
	}
	40%
	{
		top: 60px;
	}
	50%
	{
		top: 50px;
	}
	60%
	{
		top: 40px;
	}
	70%
	{
		
		top: 25px;
	}
	80%
	{
		
		top: 20px;
	}
	90%
	{
		top: 0px;

	}
	95%
	{
		top:-10px;
		
	}
	100%
	{
		top: -25px;
		
		
	}
}
	@-o-keyframes animlettre
{
	0%
	{
		top: 100px;
	}
	10%
	{
		top: 90px;
	}
	20%
	{
		top: 80px;
	}
	30%
	{
		top: 70px;
	}
	40%
	{
		top: 60px;
	}
	50%
	{
		top: 50px;
	}
	60%
	{
		top: 40px;
	}
	70%
	{
		
		top: 25px;
	}
	80%
	{
		
		top: 20px;
	}
	90%
	{
		top: 0px;

	}
	95%
	{
		top:-10px;
		
	}
	100%
	{
		top: -25px;
		
		
	}
}
@keyframes animlettre
{
	0%
	{
		top: 100px;
	}
	10%
	{
		top: 90px;
	}
	20%
	{
		top: 80px;
	}
	30%
	{
		top: 70px;
	}
	40%
	{
		top: 60px;
	}
	50%
	{
		top: 50px;
	}
	60%
	{
		top: 40px;
	}
	70%
	{
		
		top: 25px;
	}
	80%
	{
		
		top: 20px;
	}
	90%
	{
		top: 0px;

	}
	95%
	{
		top:-10px;
		
	}
	100%
	{
		top: -25px;
		
		
	}
}